body{
    padding: 100px;
}
.submit-area{
    padding: 10px;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display: none;
}
.deposit{
    
    background-color: slateblue;
}
.withdrow{
    background-color: rgb(52, 156, 125);
}
.balance{
    background-color: orange;
}
.stats{
    color: white;
    margin: 0 20px;
    padding: 20px;
    border-radius: 15px;
}